q-free-request/src/main/resources/PassageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="PassageService"	
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"	
	xmlns:tns="http://intrada.cloud/passage/service"	
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"				
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"		
	xmlns:ser="http://intrada.cloud/passage/service" 
  targetNamespace="http://intrada.cloud/passage/service">

	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://intrada.cloud/passage/service">
			<xsd:import schemaLocation="intrada.cloud.common.xsd" namespace="http://intrada.cloud/common" />
			<xsd:import schemaLocation="intrada.cloud.passage.xsd" namespace="http://intrada.cloud/passage"/>
			<xsd:include schemaLocation="intrada.cloud.passage.service.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="AcknowledgeResultsRequest">
		<wsdl:part name="parameters" element="ser:AcknowledgeResults"/>
	</wsdl:message>
	<wsdl:message name="AcknowledgeResultsResponse">
		<wsdl:part name="parameters" element="ser:AcknowledgeResultsResponse"/>
	</wsdl:message>
	<wsdl:message name="EnqueuePassagesRequest">
		<wsdl:part name="parameters" element="ser:EnqueuePassages"/>
	</wsdl:message>
	<wsdl:message name="EnqueuePassagesResponse">
		<wsdl:part name="parameters" element="ser:EnqueuePassagesResponse"/>
	</wsdl:message>
    <wsdl:message name="EnqueueDisputesRequest">
        <wsdl:part name="parameters" element="ser:EnqueueDisputes"/>
    </wsdl:message>
    <wsdl:message name="EnqueueDisputesResponse">
        <wsdl:part name="parameters" element="ser:EnqueueDisputesResponse"/>
    </wsdl:message>
	<wsdl:message name="GetResultsRequest">
		<wsdl:part name="parameters" element="ser:GetResults"/>
	</wsdl:message>
	<wsdl:message name="GetResultsResponse">
		<wsdl:part name="parameters" element="ser:GetResultsResponse"/>
	</wsdl:message>

	<wsdl:portType name="IPassageService">
		<wsdl:operation name="AcknowledgeResults">
			<wsdl:input name="AcknowledgeResultsRequest" message="ser:AcknowledgeResultsRequest" wsaw:Action="AcknowledgeResults"/>
			<wsdl:output name="AcknowledgeResultsResponse" message="ser:AcknowledgeResultsResponse" wsaw:Action="AcknowledgeResultsResponse"/>
			<wsdl:documentation>Acknowledges successfull retrieval of results, causing the results to be removed or retrieval to be retried</wsdl:documentation>
		</wsdl:operation>
		<wsdl:operation name="EnqueuePassages">
			<wsdl:input name="EnqueuePassagesRequest" message="ser:EnqueuePassagesRequest" wsaw:Action="EnqueuePassages"/>
			<wsdl:output name="EnqueuePassagesResponse" message="ser:EnqueuePassagesResponse" wsaw:Action="EnqueuePassagesResponse"/>
			<wsdl:documentation>Performs asynchronous recognition on the supplied passages</wsdl:documentation>
		</wsdl:operation>
        <wsdl:operation name="EnqueueDisputes">
            <wsdl:input name="EnqueueDisputesRequest" message="ser:EnqueueDisputesRequest" wsaw:Action="EnqueueDisputes"/>
            <wsdl:output name="EnqueueDisputesResponse" message="ser:EnqueueDisputesResponse" wsaw:Action="EnqueueDisputesResponse"/>
            <wsdl:documentation>Performs asynchronous re-identification on the supplied disputes</wsdl:documentation>
        </wsdl:operation>
		<wsdl:operation name="GetResults">
			<wsdl:input name="GetResultsRequest" message="ser:GetResultsRequest" wsaw:Action="GetResults"/>
			<wsdl:output name="GetResultsResponse" message="ser:GetResultsResponse" wsaw:Action="GetResultsResponse"/>
			<wsdl:documentation>Returns available results limitted by the given amount</wsdl:documentation>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="WSHttpBinding_IPassageService" type="tns:IPassageService">		
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="AcknowledgeResults">
			<soap12:operation style="document" soapAction="AcknowledgeResults"/>
			<wsdl:input name="AcknowledgeResultsRequest">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="AcknowledgeResultsResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EnqueuePassages">
			<soap12:operation style="document" soapAction="EnqueuePassages"/>
			<wsdl:input name="EnqueuePassagesRequest">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="EnqueuePassagesResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
        <wsdl:operation name="EnqueueDisputes">
            <soap12:operation style="document" soapAction="EnqueueDisputes"/>
            <wsdl:input name="EnqueueDisputesRequest">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="EnqueueDisputesResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
		<wsdl:operation name="GetResults">
			<soap12:operation style="document" soapAction="GetResults"/>
			<wsdl:input name="GetResultsRequest">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetResultsResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="PassageService">
		<wsdl:port name="WSHttpBinding_IPassageService" binding="tns:WSHttpBinding_IPassageService">
			<soap12:address location="https://conduent-ny-intradasynergy.q-free.nl/passageservice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>